{{>header}}
</head>
<body>

  {{>searchbar}}
  <div class="page-container">
    
    <div class="heading-container">
      <div class= "profile_pic">
        <img src={{profileImgURL}} alt="profile picture" style="width:130px;height:130px;">
      </div>

      <div class = "description">
        <div class="page-box page-box-padding">
          {{description}}
        </div>
      </div>


      <div class = "username">
        <p>{{actualName}}</p>
      </div>

      <!-- Edit and Logout buttons -->
      <div style="display:inline-flex;">
        
        <div class= "edit-profile">
          <a id="profile-edit" href="/profile_edit" data-toggle="modal" data-target="#profile_popup">  Edit Profile 
          </a>
        </div>

        <div class="logout">
          <a id="profile-logout" href="/" id="logout_btn" onclick="logout()">
            Logout
          </a>
        </div>

      </div>

    </div>

    <div class="tabs_container">
      
      <!-- Tab bar -->
      <ul class="nav nav-tabs" style="display:inline-flex; text-align:center">
        
        <li id="profile-bookmark" class="active">
          <a href="#Bookmarked" data-toggle="tab">Bookmarked</a>
        </li>

        <li id="profile-share">
          <a href="#Shared" data-toggle="tab">Shared</a>
        </li>
      
      </ul>


      <!-- Tab panes -->
      <div class="tab-content">

        <!-- Bookmarked tab -->
        <div class="tab-pane active" id="Bookmarked">
          {{#each bookmarkedList}}
              <a href="/{{category}}/{{id}}/showOneItem"> {{{mediaHTML}}} </a>
          {{/each}}
        </div>


        <!-- Shared tab -->
        <div class="tab-pane" id="Shared">
            {{#each sharedList}}
              <a href="/{{category}}/{{id}}/showOneItem"> {{{mediaHTML}}} </a>
            {{/each}}
        </div>

      </div>

    </div>

    <!-- SPACE FOR POPUP -->
    {{>notification_popup}}

    <!-- BOTTOM NAVIGATION BAR -->
		{{>navigation}}

  </div>

  {{>script}}
  <script src="/socket.io/socket.io.js"></script>


</body>

</html>
